<%- include("partials/header.ejs") %>

    <section>
        <div class="about_container">
            <h1>To-Do Master</h1>
            <p>The Ultimate To-Do list to Plan Your Day</p>
            <p>To-Do Master is the perfect tool for anyone who wants to get more organized and productive. Whether you're a student, a businessperson, or a stay-at-home parent, To-Do Master can help you achieve your goals.</p>
            <form action="/getstarted" mathod="POST">
                <input type="submit" value="Get Started" class="getstat">
            </form>
        </div>
    </section>
    </body>

    </html>